.ProjectCard {
  cursor: pointer;
  display: grid;
  grid-template-rows: auto 100px auto 200px;
  &:hover {
    color: inherit;
  }
}

.ProjectCard-Image {
  width: 100%;
  border-radius: $border-radius;
}