.Preview-AboutBadge {
  display: inline-block;
  margin-bottom: $spacer * 3;
}

.Preview-AboutTitle {
  margin: 0;
  margin-bottom: $spacer * 2;
  font-weight: 800;
  font-size: $font-size * 3.25;
  color: $white;
}

.Preview-AboutDesc {
  font-size: $font-size * 1.25;
  margin-bottom: $spacer * 3;
}