.Header {
  --header-color: $dark;
  --header-container-background: #{$black};
  --header-container-gap: #{$spacer * 3};
  --header-container-padding-x: #{$spacer * 3};
  --header-container-padding-y: #{$spacer * 1.5};
  --header-container-border-radius: #{$spacer * 2};

  color: var(--header-color);
}

.Header-BarsBtn {
  height: 100%;
}

.Header-Navbar_mobile {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.Header-Navbar_desktop {
  display: none;
}

@include media-breakpoint-up(xl) {
  .Header-Navbar_mobile {
    display: none;
  }
  .Header-Navbar_desktop {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
}