.Header {
  --header-color: $dark;
  --header-container-background: #{$black};
  --header-container-gap: #{$spacer * 3};
  --header-container-padding-x: #{$spacer * 3};
  --header-container-padding-y: #{$spacer * 1.5};
  --header-container-border-radius: #{$spacer * 2};

  color: var(--header-color);
}

// .Header-Container {
//   border-radius: $spacer * 2;
//   background-color: $black;
//   display: flex;
//   gap: $spacer * 3;
//   color: $dark;
//   padding: $spacer * 1.5 $spacer * 3;
// }

// .Header-Nav {
//   display: flex;
//   align-items: center;
//   margin-left: auto;
// }
