.Footer {
  --footer-background-color: #{rgba($purple, 0.1)};
  --footer-padding-y: #{$spacer};
  --footer-padding-x: 0;

  background-color: var(--footer-background-color);
  padding: var(--footer-padding-y) var(--footer-padding-x);
}

.Footer-Content {
  display: flex;
  justify-content: center;
}
