.ProjectsList {
  --projects-list-grid-template-columns: 1;
  --list-gap: #{$spacer * 2};
  grid-template-columns: var(--projects-list-grid-template-columns);
}

@include media-breakpoint-up(xl) {
  .ProjectsList {
    --projects-list-grid-template-columns: repeat(4, 1fr);
  }
}