.Preview-CV {
  display: flex;
  align-items: center;
  gap: $spacer * 2.25;
}

.Preview-CVLink {
  color: $purple;
}

@include media-breakpoint-up(xl) {
  .Preview-CV {
    gap: $spacer;
    flex-direction: column;
    align-items: flex-end;
  }  
}
